.container {
  :global(.ql-container) {
    font-size: 16px;
    min-height: 300px;
  }

  :global(.ql-editor) {
    min-height: 300px;
  }

  :global(.ql-toolbar) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #ddd;
  }

  :global(.ql-container) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ddd;
    border-top: none;
  }
}
