.container {
  :global(.ql-container) {
    font-size: 16px;
    min-height: 300px;
  }

  :global(.ql-editor) {
    min-height: 300px;
  }

  :global(.ql-toolbar) {
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    border: 1px solid var(--border);
  }

  :global(.ql-container) {
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
    border: 1px solid var(--border);
    border-top: none;
  }
}
